.is-center:hover {
  /*background: url(https://bu.dusays.com/2022/03/20/4fc0f1d46ceac.gif) !important;*/
  background: url("../img/4fc0f1d46ceac.gif");
  z-index: 100;
}

body {
  cursor: url("/cur/default.cur"), default
}

a, button, img, #pagination .page-number.current, #nav #site-name, #nav .site-page,
#article-container figure.highlight .highlight-tools .expand ~ .copy-button,
#article-container figure.highlight .highlight-tools .expand {
  cursor: url("/cur/pointer.cur"), default
}

.card-clock-windDir {
  font-family: xw !important;
  padding: 0 5px !important;
}

.card-clock-location {
  font-family: xw !important;
  padding: 0 5px !important;
}

.card-clock-weather {
  font-family: xw !important;
  padding: 0 5px !important;
}

.card-clock-clockdate {
  padding-right: 5px !important;
}

#hexo_electric_clock {
  padding: 0 !important;
  display: flex;
  /*垂直排列*/
  height: 100% !important;
  flex-direction: column;
  align-items: center; /*由于flex-direction: column，因此align-items代表的是水平方向*/
  justify-content: center; /*由于flex-direction: column，因此justify-content代表的是垂直方向*/
}

.card-background {
  margin: 3px !important;
}

.card-content {
  height: 100% !important;
}

html, body {
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  user-select: none;
}

/*文章透明*/
#post {
  background: rgba(0, 0, 0, 0.3);
  border: 0 !important;
  box-shadow: none;
}

#article-container a {
  color: #EB7A77;
}

#aside-content #card-toc .toc-content .toc-link.active {
  border-radius: 5px !important;
}

#post .post-copyright {
  border-radius: 5px;
  border: 1px dashed #EB7A77;
}

#post .post-copyright:hover {
  box-shadow: none;
}
